@import "../styles/constants/_colors";

.menu {
  a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #ffcd39;
    }
  }
}

.pageWrapper {
  display: none;

  &.enabled {
    display: block;
  }
}

.page {
  background: $background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .gap {
    flex: 1;
  }

  .bottom {
    position: sticky;
    bottom: 0;
  }
}
